{% extends 'fbcAppBundle:Default:confirmarBorrado.html.twig' %}

{%block title%}Confirmar borrado {{ codBetta }} {%endblock%}

{% block h1 %}Atención!{% endblock %}

{% block contenido %}

<h2>Borrar: {{codBetta}}?</h2>

<a href="{{path('borrarBetta',{'id':id})}}" title="borrar" data-role="button" data-inline="true" data-theme="b">Borrar</a>
<a href="{{path('bettas')}}" title="Volver a la pagina de bettas" data-role="button" data-inline="true" data-theme="b">Cancelar</a>

{% endblock %}