<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% block title %}Free Betta Control{% endblock %}</title>
    </head>

    <body>
        <header>
            <h1>Error al enviar form</h1>
        </header>
        <aside>
            <h3>Menú</h3>
        </aside>
        <section>{% block contenido %}No se ha podido cargar el contenido{% endblock %}</section>
        <footer>
            Free Betta Control 2012
        </footer>
    </body>
</html>